.countryDetails {
    padding: 0 25px 35px 25px;

    .btn-back {
        margin: 50px 0;
    } // .btn-back

    .btn-back,
    .btn-borders {
        width: 110px;
        height: 40px;
        border: none;
        font-size: 14px;
        border-radius: 3px;
        box-shadow: 0 5px 15px 0 rgba(black, 0.3);

        i {
            margin: 0 15px 0 0;
        } // icon
    } // .btn-back, .btn-borders

    .main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 50px;

        .flag-container {
            max-width: 560px;
            max-height: 400px;
            flex-grow: 2;

            .img-flag {
                width: 100%;
            } // .img-flag
        } // .flag-container

        .info-container {
            display: flex;
            flex-direction: column;

            p {
                font-size: 16px;
                margin: 5px 0;

                span {
                    font-weight: 600;
                } // span
            } // p

            .h1-name {
                font-size: 22px;
            } // .h1-name

            .info-1,
            .info-2 {
                margin: 30px 0;
            } // .info-1, .info-2
            
            .info-1 {
                padding: 0 50px 0 0;
            } // .info-1

            .info-3 {
                .btn-borders {
                    margin: 5px 5px;
                    width: auto;
                    padding: 0 10px;
                } // .btn-borders

                .borders {
                    .btns {
                        display: flex;
                        flex-wrap: wrap;
                    } // .btns
                } // .borders
            } // .info-3

            .second-line {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            } // .first-line
        } // .info-container
    } // .main-container
} // .countryDetails

.dark {
    .countryDetails {
        background-color: #202d36;

        button {
            background-color: #2b3743;
            color: white;
        } // button
    } // .countryDetails
} // .dark
