.custom-select {
    position: relative;
    width: 200px;
    height: 57px;
    flex-wrap: wrap;

    select {
        border: none;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        background: white;
        box-shadow: 0 5px 15px 0 rgba(black, .1);

        option {
            background-color: white;
        } // option
    } // select

    i {
        display: inline-block;
        line-height: 57px;
        height: 100%;
        width: 15%;
        position: absolute;
        background-color: white;
        top: 0;
        right: 0;
        pointer-events: none;
    } // i
} // custom-select